[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"pynmea2" = {editable = true, git = "ssh://git@github.com/csb-comren/pynmea2.git"}

[dev-packages]

[requires]
python_version = "3.6"
